.navi {
    position: fixed;
    padding: 100px;
    margin-left: 35px;
}

.text1 {
    position: fixed;
    left: 150px;
    height: 200px;
    margin-left: 50px;
    color: #0c2069;
    font-size: 30px;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
}

.text2 {
    position: center;
    font-family: "Microsoft YaHei UI";
    max-width: 600px;
    margin: auto;
    text-align: left;
}
p.uppercase {
    background-color: white;
    color: #5f5f5f;
    font-weight: bold;
}

.icon1 {
float: right;
}


.drop {
    width: 300px;
}
label, input {
    display: block;
}
